.footer {
  background-color: var(--secondary-color);

  &__container {
    @media screen and (max-width: 767px) {
      text-align: center;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
    }
  }
}

.footer-contacts-wrap {
  @media screen and (min-width: 768px) {
    display: flex;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    justify-content: space-around;
  }
}

.address-wrap {
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
}

.address-list {
  &__item + &__item {
    margin-top: 9px;
  }

  &__link {
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--primary-accent-color);
    }
  }
}

.map {
  color: var(--primary-color);
  font-style: normal;
}

.cta-caption {
  text-transform: uppercase;
  color: var(--primary-color);
  font-weight: 700;
  line-height: 1.14;
  margin: 0 0 20px 0;

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.social-wrap {
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }
}

.mailing-form {
  @media screen and (min-width: 1200px) {
    margin-left: auto;
    display: flex;
  }
  @media screen and (max-width: 1199px) {
    text-align: center;
  }

  &__label {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primary-color);
  }

  &__input {
    display: block;
    background-color: var(--secondary-color);
    height: 50px;
    min-width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding: 0 16px;
    margin: 20px auto;
    color: var(--primary-color);
    transition-property: border, outline;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 768px) {
      min-width: 450px;
    }

    @media screen and (min-width: 1200px) {
      min-width: 358px;
      margin: 20px 12px 0 0;
    }

    &:focus {
      border: 1px solid var(--primary-accent-color);
      outline: var(--primary-accent-color);
    }

    &::placeholder {
      font-size: 16px;
      line-height: 1.25;
      color: rgba(255, 255, 255, 0.6);
    }
  }

  &__btn {
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 1200px) {
      margin: 36px 0 0 0;
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    fill: var(--primary-color);
  }
}
