.header {
  @media screen and (min-width: 768px) {
    border-bottom: solid 1px #ececec;
  }
}

.header-inner {
  display: flex;
  align-items: center;
  position: relative;
  min-height: 60px;

  @media screen and (min-width: 768px) {
    justify-content: space-between;
    min-height: 80px;
  }
}

.menu-btn {
  position: absolute;
  z-index: 100;
  top: 10px;
  right: 15px;
  display: inline-flex;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;

  &_icons {
    width: 40px;
    height: 40px;
  }

  & &_icon-cross {
    display: none;
  }

  &.is-open &_icon-cross {
    display: block;
  }

  &.is-open &_icon-menu {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.header-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-color);
  z-index: 50;

  &.is-open {
    display: block;
    padding: 48px 40px;
  }

  @media screen and (min-width: 768px) {
    display: block;
    height: 80px;
    position: static;
  }
}

.header-menu__inner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: end;
  }
}

.navigation {
  flex-grow: 1;

  @media screen and (min-width: 768px) {
    display: flex;
    height: 100%;
    align-items: center;

    &__list {
      display: flex;
    }
  }

  &__item+&__item {
    margin-top: 30px;

    @media screen and (min-width: 768px) {
      margin: 0 0 0 50px;
    }
  }

  &__link {
    color: var(--title-text-color);
    font-weight: 500;
    letter-spacing: 0.02em;
    font-size: 40px;
    line-height: 1.17;
    text-align: start;
    display: block;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;

    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 16px;
      padding: 32px 0;
    }
  }

  @media screen and (min-width: 768px) {
    &__link::after {
      content: '';
      display: block;
      width: 100%;
      height: 4px;
      background-color: var(--primary-accent-color);
      position: absolute;
      left: 0;
      bottom: -1px;
      border-radius: 2px;
      opacity: 0;
      transition-property: opacity;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__link--current::after {
      opacity: 1;
    }
  }

  &__link:hover,
  &__link:focus,
  &__link--current {
    color: var(--primary-accent-color);
  }
}

.contacts {
  &__item {
    @media screen and (max-width: 767px) {
      margin-bottom: 32px;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column-reverse;

    justify-content: center;

    &__item+&__item {
      margin-bottom: 10px;
    }
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row-reverse;
    align-items: center;

    &__item+&__item {
      margin: 0 30px 0 0;
    }
  }

  &__link {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 768px) {
      // padding: 32px 0;
      display: flex;
      align-items: center;
      font-size: 12px;
    }

    @media screen and (max-width: 767px) {
      &--mobile {
        color: var(--primary-accent-color);
        font-weight: 500;
        font-size: 34px;
        line-height: 1.18;
      }
    }
  }

  &__link:hover,
  &__link:focus {
    color: var(--primary-accent-color);
  }

  &__link:hover &__icon,
  &__link:focus &__icon {
    fill: var(--primary-accent-color);
  }

  &__icon {
    margin-right: 10px;
    fill: var(--primary-text-color);
    width: 16px;
    height: 16px;

    @media screen and (max-width: 767px) {
      display: none;
    }
  }
}

.menu-social-list {
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: 768px) {
    display: none;
  }

  &__item+&__item {
    border-left: 1px solid rgba(33, 33, 33, 0.2);
    padding-left: 10px;
  }

  &__link {
    color: var(--primary-accent-color);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    padding-right: 10px;
  }
}