.hero {
  background-color: var(--secondary-color);
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/bg-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  text-align: center;
  padding: 118px 0;
  margin: 0 auto;

  @media screen and (min-width: 1200px) {
    padding: 200px 0;
  }

  &__title {
    color: var(--primary-color);
    font-style: normal;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
      max-width: 696px;
      margin: 0 auto 30px auto;
      font-size: 44px;
      line-height: 1.36;
    }
  }
}
