.logo {
    display: block;
    color: var(--primary-accent-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

    &__half--black {
        color: #000000;
    }

    &__half--white {
        color: #ffffff;
    }
}



.navigation__logo {
    margin-right: 93px;
}

.footer__logo {
    margin-bottom: 20px;
}