.backdrop {
  position: fixed;
  background: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  padding: 93px 15px;
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 60;
}

.modal {
  @media screen and (max-width: 469px) {
    position: relative;
    width: 100%;
  }

  @media screen and (min-width: 1200px) {
    width: 528px;
    min-height: 581px;
  }

  position: absolute;
  width: 450px;
  min-height: 609px;
  padding: 40px;
  background-color: var(--primary-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

/* кнопка закрытия модального окна */
.modal__close-btn {
  width: 30px;
  height: 30px;
  background-color: var(--primary-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}

.modal__close-btn:hover .modal__close-icon,
.modal__close-btn:focus .modal__close-icon {
  fill: var(--primary-accent-color);
}

.modal__close-icon {
  width: 18px;
  height: 18px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* форма в модальном окне */

.form-cta-text {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  margin: 0 0 12px 0;

  color: var(--title-text-color);
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-field__label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.form-input-wrap {
  position: relative;
  width: 100%;
}

.form-field__input {
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  width: 100%;
  padding-left: 42px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__input:focus {
  border: 1px solid var(--primary-accent-color);
}

.form-field__input:focus+.form-field__icon {
  fill: var(--primary-accent-color);
}

.form-field__icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment {
  display: flex;
  flex-direction: column;
}

#comment {
  margin: 0;
  padding: 12px 16px;
  min-height: 120px;
  height: 100%;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

#comment:focus {
  border: 1px solid var(--primary-accent-color);
}

#comment::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

/* чекбокс в модальном окне */
.form-check {
  margin: 20px 0 30px 0;
  display: flex;
  justify-content: center;
  font-size: 12px;
  line-height: 1.17;
}

.form-check-link {
  color: var(--primary-accent-color);
}

.check-label {
  margin-right: 3px;
  display: flex;
  align-items: center;
}

.checkbox {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.check-icon {
  display: inline-block;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  border: 2px solid var(--title-text-color);
}

.checkbox:checked+.check-icon {
  background-image: url('../images/check.svg');
  background-position: center;
  border: none;
}

.modal-form-btn {
  display: block;
  margin: 0 auto;
}