.social-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;

  &__item + &__item {
    margin-left: 10px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: var(--primary-accent-color);
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
    fill: #afb1b8;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    .social-list__link:hover &,
    .social-list__link:focus & {
      fill: var(--primary-color);
    }
  }
}

.footer__social-list {
}
