body {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.container {
  max-width: 480px;
  margin: 0 auto;
  padding: 0 15px;

  @media screen and (min-width: 768px) {
    max-width: 738px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1170px;
  }
}

.section {
  padding: 60px 0;

  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}
